@font-face {
    font-family: 'TabelaSoft';
    src: url(/fonts/Tabela.Soft/tabelaSoft-Regular.ttf);
}
@font-face {
    font-family: 'DeliusUnicase';
    src: url(/fonts/Delius_Unicase/DeliusUnicase-Regular.ttf);
}
