$theme-colors: (
    "primary": #2c6e49,
    "secondary": #4c956c
);

/* Bootstrap SCSS */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Custom SCSS */
@import "_fonts.scss";

.preload * {
    transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
}

nav {
    box-shadow:
        0 0.6px 1.4px rgba(0, 0, 0, 0.038),
        0 1.8px 3.8px rgba(0, 0, 0, 0.055),
        0 4.2px 9px rgba(0, 0, 0, 0.072),
        0 14px 30px rgba(0, 0, 0, 0.11);
  
    background-color: var(--primary);

    .navbar-brand {
        @extend .d-flex,
                .align-items-center;
        color: white;
        font-family: 'DeliusUnicase';
        font-size: 2rem;
        img{
            width: 40px; 
            height: 40px; 
        }
    }
    .nav-link {
        @extend .p-0,
                .m-2;
        color: white;
        font-size: 1.15rem;
        width: fit-content;

        &:hover {
            border-bottom-style: dashed;
        }
    }

    .nav-link.active {
        border-bottom-style: solid;
    }

    .navbar-toggler{
        @extend .navbar-light;
        border: black;
    }
    .dropdown-menu {
        .dropdown-item{
            color: black;

            &:hover {
                color: white;
                background-color: var(--primary);
            }
        }
    }
}

body {
    font-family: "Archivo", sans-serif;
    margin: 0px;
    padding: 0px;

    .account-topnav {
        height: fit-content;
        width: 100vw;
        margin-top: 0px;
        align-items: center;

        .img-thumbnail {
            @extend .ml-5;
            width: 100px;
        }

        img.link-profile,
        img.link-billing,
        img.link-settings{
            height: 45px;
            width: 45px;  
        }

        img.link-profile {
            @extend .ml-4;
        }

        img.link-billing,
        img.link-settings {
            @extend .ml-3;
        }
    }

    // HOME PAGE STYLES
    .main-home,
    .main-home2,
    .main-about-body {
        @extend .main-body,
                .m-0,
                .mb-3;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 72vh;
        box-shadow: inset 0px -2px 26px -14px rgba(0,0,0,0.75);

        .row-main {
            padding-left: 180px;
            padding-top: 100px;

            font-size: 4rem;
            color: var(--primary);
        }

        .btn-shop-now,
        .btn-shop-now2 {
            @extend .rounded-pill, 
                    .btn-outline-primary,
                    .btn,
                    .p-2;
            margin-left: 190px;
            width: 150px;
            font-size: 1rem;
            transition: all 0.2s;
            
            span {
                display: inline-block;
                position: relative;
                transition: 0.2s;
            }

            span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.2s;
            }

            &:hover span {
                padding-right: 20px;
            }
            
            &:hover span:after {
                opacity: 1;
                right: 0;
            }

            &:hover {
                background-color: var(--primary);
                color: white;
            }
        }

        .btn-shop-now2 {
            @extend .m-0,
                    .btn-outline-light;
            
            &:hover {
                background-color: white;
                color: var(--primary);
            }
        }
    }

    .main-home2 {
        height: 68vh;
        background-color: rgba(0, 0, 0, 0.295); 
        background-blend-mode: multiply; 
    }

    .btn-our-products {
        @extend .btn,
                .btn-outline-primary, 
                .rounded-pill, 
                .pl-4, 
                .pr-4;

        font-size: 2rem; 
        letter-spacing: .1rem; 
        word-spacing: .2rem;
    }

    .container-home-products,
    .container-aboutus {
        margin-top: 40px; 
        height: 70vh;

        .card-deck {
            height: 410px;

            .card-1,
            .card-2,
            .card-3 {
                background-size: cover;
                background-repeat: no-repeat;
                box-shadow: 0 0px 19px rgba(0, 0, 0, 0.17);

                .card-body {
                    @extend .d-flex,
                            .justify-content-center,
                            .align-items-center;

                    .btn-home-product {
                        transition: 0.7s all ease;
                        @extend .btn,
                                .btn-light,
                                .d-flex, 
                                .align-items-center, 
                                .justify-content-center;
                        height: 50px;
                        width: 200px;
                        box-shadow:
                            0 0.3px 0.5px rgba(0, 0, 0, 0.02),
                            0 0.7px 1.1px rgba(0, 0, 0, 0.028),
                            0 1.3px 2.1px rgba(0, 0, 0, 0.035),
                            0 2.2px 3.8px rgba(0, 0, 0, 0.042),
                            0 4.2px 7.1px rgba(0, 0, 0, 0.05),
                            0 10px 17px rgba(0, 0, 0, 0.07);
                        color: var(--primary);
                        font-size: 1.5rem;
                        letter-spacing: 2px;

                        &:hover {
                            background-color: transparent;
                            width: 100%;
                            height: 100%;
                            color: white;
                            font-weight: bold;
                            letter-spacing: 3px;
                            text-shadow: 0 1px 0 #CCCCCC, 
                                         0 2px 0 #c9c9c9, 
                                         0 3px 0 #bbb, 
                                         0 4px 0 #b9b9b9, 
                                         0 5px 0 #aaa, 
                                         0 6px 1px rgba(0,0,0,.1), 
                                         0 0 5px rgba(0,0,0,.1), 
                                         0 1px 3px rgba(0,0,0,.3), 
                                         0 3px 5px rgba(0,0,0,.2), 
                                         0 5px 10px rgba(0,0,0,.25), 
                                         0 10px 10px rgba(0,0,0,.2), 
                                         0 20px 20px rgba(0,0,0,.15);
                        }
                    }
                }
            }
        }
    }
    // END OF HOME PAGE STYLES

    // ABOUT PAGE STYLES
    .main-about-body {
        height: 60vh;
        background-color: rgba(0, 0, 0, 0.281);
        background-blend-mode: multiply;

        h1 {
            font-size: 5rem;
            text-shadow: #474747 3px 5px 2px;
        }
    }
    
    // END OF ABOUT PAGE STYLES

    .main-body {
        margin-top: 90px;
        margin-bottom: 100px;

        // LOG IN & SIGN UP PAGE STYLES
        .sign-log-container {
            border-radius: 10px;
            background-color: white;
            box-shadow:
                0 0px 1.3px rgba(0, 0, 0, 0.069),
                0 0px 4.2px rgba(0, 0, 0, 0.101),
                0 0px 19px rgba(0, 0, 0, 0.17);

            width: 380px;
            height: 470px;
        
            .row {
                justify-content: center;
                h5 {
                    margin-top: 60px;
                    font-size: 3rem;
                }
            }
        
            .txtbox-container {
                background-color: rgba(128, 128, 128, 0.123);
                border-radius: 5px;
                margin-left: 60px;
                margin-right: 60px;
            }
            
            .username-txtbox, 
            .password-txtbox {
                outline: none;
                transition: border-bottom-color 0.2s ease-out;
                border-color: transparent;
                background-color: transparent;

                &:hover,
                &:focus {
                    border-bottom-color: green;
                }
            }
        
            .log-in-button {
                @extend .p-2,
                        .bg-primary;
                color: white;
                width: 100px;
                border: none;
                border-radius: 5px;
            }
        }
        // END OF LOG IN & SIGN UP PAGE STYLES
        
        // STORE PAGE STYLES
        .container.store-container{
            .store-items {
                .btn-add {
                    @extend .btn-success;
                    border: none;
                    background-color: var(--primary);
                    border-radius: 5px;
                    outline: none;
                    height: max-content;
                    width: max-content;
                    margin-left: auto;
                    padding: 6px;
                    padding-left: 12px;
                    padding-right: 12px;
                    font-size: 0.7rem;
                }

                .col {
                    .card {
                        @extend .h-auto;
                        
                        &:hover {
                            box-shadow:
                                0 0px 1.3px rgba(0, 0, 0, 0.069),
                                0 0px 4.2px rgba(0, 0, 0, 0.101),
                                0 0px 19px rgba(0, 0, 0, 0.17);
                            .item-price {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        .store-cart {
            height: fit-content;
            width: 340px;
            background-color: white;
            color: var(--primary);
            box-shadow:
            0 0.3px 0.5px rgba(0, 0, 0, 0.02),
            0 0.7px 1.1px rgba(0, 0, 0, 0.028),
            0 1.3px 2.1px rgba(0, 0, 0, 0.035),
            0 2.2px 3.8px rgba(0, 0, 0, 0.042),
            0 4.2px 7.1px rgba(0, 0, 0, 0.05),
            0 10px 17px rgba(0, 0, 0, 0.07)
            ;


            .card-body > .card {
                @extend .mt-3,
                        .p-0;
            }

            .btn-remove, 
            .btn-primary {
                border: none;
                border-radius: 4px;
                outline: none;
            }

            .btn-primary {
                font-size: .9rem;
                padding: 6px;
                padding-left: 18px;
                padding-right: 18px;
                color: white;
                background-color: var(--primary);
                margin-left: 42.5%;
            }

            .btn-remove {
                margin-left: 100px;
            }

            .cart-item-quantity {
                width: 50px;
                margin-left: 2px;
            }

            .cart-item-row {
                align-items:center; 
            }
        }

        .modal {
            h6 {
                margin-top: 6px;
                margin-right: 6px;
                margin-bottom: 6px;
            }
            label {
                font-size: .6rem;
                color: rgb(114, 113, 113);
            }

            .btn-return {
                font-size: .75rem;
                color: gray;
                border-color: gray;
            }

            .btn-buy {
                height: max-content;
                width: max-content;
                font-size: .75rem;
                margin-left: 19vw;
            }
        }
        // END OF STORE PAGE STYLES

        // ACCOUNT SETTINGS STYLES
        .account-main-body {
            height: 100vh;
            width: 100vw;

            .main-row {
                height: 100vh;

                .account-sidenav {
                    @extend .border-right;

                    img.rounded-circle {
                        border-radius: 10px;
                    }

                    .account-links {
                        margin-top: 20px;
                        width: fit-content;

                        .row {
                            cursor: pointer;
                            align-items: center;
                            margin-top: 10px;
                            font-size: 1.2rem;

                            a {
                                color: black;
                                &:hover {
                                    color: var(--primary);
                                }
                            }
    
                            img {
                                height: 30px;
                                width: 30px;
                            }
                        }
                    }
                }
    
                .account-edit.edit-profile {
                    .form-group {
                        .row{
                            @extend .ml-auto,
                                    .align-items-center;
                            
                            label {
                                margin-top: 10px;
                                font-size: 0.78rem;
                                font-weight: 600;
                            }

                            a {
                                margin-left: 8px;

                                img {
                                    width: 18px;
                                    cursor: pointer;
                                }
                            }
                        }
    
                        input {
                            outline: none;
                            width: 40vw;
                        }
    
                        input::placeholder {
                            justify-content: center;
                            font-size: 0.8rem;
                            font-style: italic;
                        }
                    }
                }

                .account-edit.edit-billing {
                    .billing-item-row {
                        @extend .border-bottom;
                        
                        .col-title {
                            @extend .text-center,
                                    .mt-2,
                                    .mb-2;
                        }

                        .col {
                            @extend .text-center,
                                    .m-3;
                        }
                    }
                    
                }

                .account-edit.edit-settings { 
                    @extend .mr-3;
                    .setting-item {
                        @extend .mt-3,
                                .ml-1,
                                .p-3,
                                .rounded-lg,
                                .align-items-center,
                                .justify-content-between,
                                .border;
                        
                        .setting-note {
                            @extend .mt-3,
                                    .ml-2,
                                    .mr-2,
                                    .text-muted;
                            
                            font-style:italic ;
                        }
                    }
                }
            }
        }
        // END OF ACCOUNT SETTINGS STYLES
    }
    

}



footer {
    @extend
        .card,
        .text-center,
        .border-0,
        .rounded-0 ,
        .bg-primary;
    
    h5, a{
        color:white;
    }

    h5{
        text-transform:uppercase;
        font-weight: bold;
    }

    a{
        text-transform:capitalize;
        padding: 0rem;
        &:hover {
            text-decoration: none;
            color: white;
            border-bottom-style: dashed;
        }
    }

    #footerRowItems {
        @extend .col-md-3, 
                .col-auto, 
                .text-left,
                .p-1;

        #socialMediaBtn {
            @extend .btn,
                    .m-0,
                    .p-0;
        }
        
        img{
            width: 2rem;
        }
    }
}








